version: '3.9'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    container_name: db
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: lichnyy/kittygram_backend:latest  # ⬅️ ЗАМЕНИТЕ на ваше имя
    container_name: backend
    env_file: .env
    volumes:
      - static:/app/static
      - media:/app/media
    depends_on:
      - db

  frontend:
    image: lichnyy/kittygram_frontend:latest  # ⬅️ ЗАМЕНИТЕ на ваше имя
    container_name: frontend
    volumes:
      - static:/static

  gateway:
    image: lichnyy/kittygram_gateway:latest  # ⬅️ ЗАМЕНИТЕ на ваше имя
    container_name: gateway
    ports:
      - "9000:80"
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
      - frontend
